@media screen and (max-width : 576px) {
    .teams{
        grid-template-columns:1fr;
    }
    .facts-content{
        width: 100%;
    }
}
@media screen and (min-width : 576px) and (max-width:992px) {
    .teams{
        grid-template-columns:1fr;
    }
    .facts-content{
        width: 80%;
    }
}