@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;

}

body {
    font-family: 'Work Sans', sans-serif;
    margin: auto;
}

.container {
    width: 80%;
    margin: auto;
}

li {
    list-style: none;
}

.img-fluid {
    width: 100%;
}

.btn-primary {
    padding: 15px 25px;
    font-size: 15px;
    display: inline-block;
    background: #FF900E;
    border: none;
    border-radius: 5px;
    color: #ffff;
    font-weight: 600;
    cursor: pointer;
}

/* common css stye  */




header {
    background: rgba(255, 144, 14, 0.10);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

nav ul {
    display: flex;
    align-items: center;

}

nav ul li {
    padding: 10px 20px;
    cursor: pointer;
    color: #424242;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}

nav ul li:hover {
    color: #FF900E;
}

nav .logo h2 {
    color: #131313;
}

/* hero section  */

.hero-container {
    padding: 20px 0;
}

.hero-content {
    width: 70%;
    margin: auto;
    text-align: center;
    padding: 50px 0;
}

.hero-title {
    color: #131313;
    font-size: 64px;
    font-weight: 700;
}

.hero-discription {
    margin: 15px 0;
    color: #727272;
    word-spacing: 2px;
    font-size: 14px;
}


/* features section start -------------------- */

.teams {
    padding: 50px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    align-items: center;

}

.team-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}

.team-content h2 {
    font-size: 45px;
}

.team-content .team-title-dark {
    color: #424242;
    font-weight: 500;
}

.team-content .team-title-colorful {
    color: #FF900E;
}

.team-content p {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    margin: 15px 0;
    line-height: 1.5;
}

/* facts  ------------------------------- */
.facts-container{
    margin: 100px 0;
}
.facts-content{
    width: 50%;
}
.facts-content h2{
    color: #131313;
    font-size: 40px;
}
.facts-content p{
    color: #424242;
    margin-top: 10px;
}
.facts-card{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(200px, 1fr));
    justify-content: space-around;
    grid-gap: 30px;
    text-align: center;
    margin: 50px 0;
}
.facts-item{
    border: 2px solid #FF900E;
    padding: 30px;
    border-radius: 10px;
    height: 200px; 
}
.facts-item h2{
    color: #424242;
    line-height: 2;
}

/* sponsors section  -------------------*/

.sponsors-heading{
    width: 50%;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}
.sponsors-heading h2{
    color: #131313;
    font-size: 40px;
}
.sponsors-heading p{
    margin: 15px 0;
    color: #424242;
}

.sponsors-card{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(180px , 1fr));
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin: 50px 0;
    grid-gap: 30px;
   
}
.sponsors-card img{
    width:150px;
    margin: auto;
    padding: 30px;
    cursor: pointer;
}
/* features  -----------------*/

.features{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(500px , 1fr ));
    margin: 50px 0;
    gap: 50px;
}
.features-heading > div{
    display: flex;
    align-items: center;
}
.features-heading span{
    height: 100px;
    width: 8px;
    background: #FF900E;
    margin-right: 8px;
}
.features-heading h2{
    font-size: 45px;
}
.features-heading  p{
    margin: 20px 0;
    color: #424242;
}
.features-card .features-card-item{
    padding: 20px;
    box-shadow: 5px 5px 10px #f0f0f0;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 90%;
    height: auto;
}
.features-card .features-card-item h3{
    color: #424242;
    margin-bottom: 5px;
}
.features-card .features-card-item p{
    color: #727272;
}
.features-img > div{
    width: 100%; 
    position: relative;
    
}
.features-img img{
    width: 100%;
    height: auto;
}

.ten-years-batch{
    background: #FF900E;
    color: #f0f0f0;
    padding: 30px;
    display: inline-block;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    left: -50px;
}

/* footer  -----*/
footer {
    background:#FFF4E7;
    width: 85%;
    margin: auto;
    margin-bottom: 50px;
    border-radius: 5px;
}
footer p{
    text-align: center;
    padding: 20px 0;
}


.hide{
    display: none;
}